<a href="https://colab.research.google.com/github/sivasaiyadav8143/Python/blob/master/Unpacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Extended Unpacking

Let's see how we might split a list into it's first element, and "everything else" using slicing:

In [ ]:
l = [1, 2, 3, 4, 5, 6]

In [ ]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

We can even use unpacking to simplify this slightly:

In [ ]:
a, b = l[0], l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

Slicing only works with iterables that are actually indexable like list,tuple, strings but not non-indexable like set & dictionary.

In [1]:
s = {1,2,3,4,5}
a = s[0]
b = s[1:]

TypeError: ignored

But we can use the **\*** operator to achieve the same result:

In [ ]:
a, *b = l
print(a)
print(b)

1
[2, 3, 4, 5, 6]

but this works with all iterables.

In [2]:
s = {1,2,3,4,5}
a, *b = s
print(a)
print(b)

1
[2, 3, 4, 5]

Note that the **\*** operator can only appear **once**!

Like standard unpacking, this extended unpacking will work with any iterable.

With tuples:

In [ ]:
a, *b = -10, 5, 2, 100
print(a)
print(b)

-10
[5, 2, 100]

With strings:

In [ ]:
a, *b = 'python'
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

What about extracting the first, second, last elements and *the rest*.

Again we can use slicing:

In [ ]:
s = 'python'

a, b, c, d = s[0], s[1], s[2:-1], s[-1]
print(a)
print(b)
print(c)
print(d)

p
y
tho
n

But we can just as easily do it this way using unpacking:

In [ ]:
a, b, *c, d = s
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n

As you can see though, **c** is a list of characters, not a string.

It that's a problem we can easily fix it this way:

In [ ]:
print(c)
c = ''.join(c)
print(c)

['t', 'h', 'o']
tho

We can also use unpacking on the right hand side of an assignment expression:

In [ ]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l = [*l1, *l2]
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
l1 = [1, 2, 3]
s = 'ABC'
l = [*l1, *s]
print(l)

[1, 2, 3, 'A', 'B', 'C']

This unpacking works with unordered types such as sets and dictionaries as well.

The only thing is that it may not be very useful considering there is no particular ordering, so a first or last element has no real useful meaning.

In [ ]:
s = {10, -99, 3, 'd'}

In [ ]:
for c in s:
    print(c)

10
3
d
-99

As you can see, the order of the elements when we created the set was not retained!

In [ ]:
s = {10, -99, 3, 'd'}
a, b, *c = s
print(a)
print(b)
print(c)

10
3
['d', -99]

So unpacking this way is of limited use.

However consider this:

In [ ]:
s = {10, -99, 3, 'd'}
*a, = s
print(a)

[10, 3, 'd', -99]

At first blush, this doesn't look terribly exciting - we simply unpacked the set values into a list.

But this is actually quite useful in both sets and dictionaries to combine things (although to be sure, there are alternative ways to do this as well - which we'll cover later in this course)

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

How can we combine both these sets into a single merged set?

In [ ]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

Well, **+** doesn't work...

We could use the built-in method for unioning sets:

In [ ]:
help(set)

In [ ]:
print(s1)
print(s2)
s1.union(s2)

{1, 2, 3}
{3, 4, 5}

{1, 2, 3, 4, 5}

What about joining 4 different sets?

In [3]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
print(s1.union(s2).union(s3).union(s4))
print(s1.union(s2, s3, s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

Or we could use unpacking in this way:

In [4]:
[*s1, *s2, *s3, *s4]

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 7]

In [ ]:
{*s1, *s2, *s3, *s4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

What we did here was to unpack each set directly into another set!

The same works for dictionaries - just remember that **\*** for dictionaries unpacks the keys only.

In [ ]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}
[*d1, *d2]

['key1', 'key2', 'key2', 'key3']

So, is there anything to unpack the key-value pairs for dictionaries instead of just the keys?

Yes - we can use the **\*\*** operator:

In [ ]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}

{**d1, **d2}

{'key1': 1, 'key2': 3, 'key3': 3}

Notice what happened to the value of **key2**. The value for the second occurrence of **key2** was retained (overwritten).

In fact, if we write the unpacking reversing the order of d1 and d2:

In [ ]:
{**d2, **d1}

{'key1': 1, 'key2': 2, 'key3': 3}

we see that the value of **key2** is now **2**, since it was the second occurrence.

Of course, we can unpack a dictionary into a dictionary as seen above, but we can mix in our own key-value pairs as well - it is just a dictionary literal after all.

In [ ]:
{'a': 1, 'b': 2, **d1, **d2, 'c':3}

{'a': 1, 'b': 2, 'c': 3, 'key1': 1, 'key2': 3, 'key3': 3}

Again, if we have the same keys, only the "latest" value of the key is retained:

In [ ]:
{'key1': 100, **d1, **d2, 'key3': 200}

{'key1': 1, 'key2': 3, 'key3': 200}

#### Nested Unpacking

Python even supports nested unpacking:

In [5]:
a, b, (c, d) = [1, 2, ['X', 'Y']]
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

In fact, since a string is an iterable, we can even write:

In [6]:
a, b, (c, d) = [1, 2, 'XY']
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

We can even write something like this:

In [7]:
a, b, (c, d, *e) = [1, 2, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
p
y
['t', 'h', 'o', 'n']

Remember when we said that we can use a * only **once**...

How about this then?

In [8]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

We can break down what happened here in multiple steps:

In [9]:
a, *b, tmp = [1, 2, 3, 'python']
print(a)
print(b)
print(tmp)

1
[2, 3]
python

In [10]:
c, d, *e = tmp
print(c)
print(d)
print(e)

p
y
['t', 'h', 'o', 'n']

So putting it together we get our original line of code:

In [11]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

If we wanted to do the same thing using slicing:

In [12]:
l = [1, 2, 3, 'python']
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3], 'p', 'y', ['t', 'h', 'o', 'n'])

In [13]:
l = [1, 2, 3, 'python']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

Of course, this works for arbitrary lengths and indexable sequence types:

In [14]:
l = [1, 2, 3, 4, 'unladen swallow']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
u
n
['l', 'a', 'd', 'e', 'n', ' ', 's', 'w', 'a', 'l', 'l', 'o', 'w']

or even:

In [15]:
l = [1, 2, 3, 4, ['a', 'b', 'c', 'd']]
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
a
b
['c', 'd']